<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="nlqc" transaction-type="RESOURCE_LOCAL">

        <class>com.zk.nlqc.entitys.base.QcArgs</class>
        <class>com.zk.nlqc.entitys.base.Device</class>
        <class>com.zk.nlqc.entitys.base.Material</class>
        <class>com.zk.nlqc.entitys.base.Frequency</class>
        <class>com.zk.nlqc.entitys.base.CarModel</class>
        <class>com.zk.nlqc.entitys.complex.WorkStation</class>
        <class>com.zk.nlqc.entitys.complex.QcCourse</class>
        <class>com.zk.nlqc.entitys.complex.QcItem</class>
        <class>com.zk.nlqc.entitys.complex.QcFlow</class>
        <class>com.zk.nlqc.entitys.record.QcRecordBills</class>
        <class>com.zk.nlqc.entitys.record.FinalRecord</class>
        <class>com.zk.nlqc.entitys.base.UnitForFrequency</class>
    </persistence-unit>
</persistence>
